
body{
	font-family:Arial, Helvetica, Verdana, Geneva, sans-serif;	
}
a,html,input,body,img,p,br,ul,li,h1,h2,h3,h4{
	text-decoration:none;
	margin:0;
	padding:0;
}
list-style-type:none;
}
a:hover{
	cursor:pointer;
}
a:visited,a:link{
	color:inherit;
    decoration: none; 
}
body {
    background: url('../img/bg.jpg') center no-repeat;
    color: #000;
    margin: 0;
    padding: 0;
}
.background {
	position:absolute;
	display:block;
	top:0;
	left:0;
	z-index:-999;
}
.img-logo{
	background: #eee;
	background: linear-gradient(#fff, #d0d0d0, #e8e8e8);
	padding:10px;
	width: 100%;
	border-radius: 5px 5px 0 0;
	text-align: center;
}
.vh-100{
	height: 100%;margin-top:50px;
}
.name-lg{
	text-align: center;
	padding: 10px 0 10px 0;
	font-size:200%;
	color:#095f90;
	padding-bottom: 20px;
}
.form-login{
	padding: 10px 20px;
	background:#fff;
	width: 100%;
	box-shadow: -5px 5px 20px #dedede inset;
	margin: 0 auto;
}
.btn-100{
	width:100%;
	margin-top: -10px;
	height:60px;
	border-radius: 0 0 5px 5px!important;
	border-bottom: 5px solid #0055b1!important;
}
.form-group{
    margin-bottom:30px !important;
}
.form-dangnhap{
	margin: 10px auto;
	vertical-align: middle;
}
.carousel-control{
	opacity: 0;
	box-shadow: none;
}
.carousel-control:hover{
	opacity: 0.1;
}